$gray-light: rgba(219,200,190,0.4);
$gray-dark: rgba(30,32,37, 0.4);

// TYPOGRAPHY
$font-size-xl: clamp(28px, 5vw, 28px);
$font-size-2xl: clamp(36px, 5vw, 50px); // h3
$font-size-3xl: clamp(44px, 5vw, 60px); // h2
$font-size-4xl: clamp(52px, 5vw, 72px); // h1
$font-size-5xl: clamp(60px, 5vw, 88px);
