@import '@/styles/typography';

.block {
  @include stack;
  overflow: hidden;
}

.overlay {
  img {
    width: 100%;
    aspect-ratio: 5/1;
  }
}

.sliderItem {
  @include flex();

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}
