@import '@/styles/global';

.block {
  width: 100%;
  border: none;
  padding: $spacing-sm $spacing-md;
  font-weight: $font-weight-medium;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
    background-color: $gray;

    :hover {
      background-color: $gray;
    }
  }
}

.primary {
  background-color: $primary;
  border-color: $primary;
  color: $text-secondary;

  &:hover {
    background-color: $primary-hover;
  }
}

.secondary {
  background-color: $secondary;
  border-color: $primary;
  color: $text-secondary;

  &:hover {
    background-color: $secondary-hover;
  }
}
