@import '@/styles/global';

.stack {
  @include stack;
  ::selection {
    color: unset;
    background: none;
  }

  > * {
    height: 75vh; // todo ======= todo =======
  }
}

.arrows {
  @include flex(space-between, row);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.arrow {
  pointer-events: all;
  @include transition(0.3s);
  display: flex;
  padding: 0.75rem;
  border-radius: 50%;
  border: 1px solid $primary; // todo ======= todo =======
  background: $primary; // todo ======= todo =======
}

@include largeDevice() {
  .arrow {
    &:first-of-type {
      margin-left: $spacing-md;
    }
    &:last-of-type {
      margin-right: $spacing-md;
    }
    &:hover {
      cursor: pointer;

      &:first-child {
        transform: translateX(calc(-1 * $spacing-2xs));
      }

      &:last-child {
        transform: translateX($spacing-2xs);
      }
    }
  }
}

@include smallDevice {
  .arrow {
    &:first-of-type {
      margin-left: $spacing;
    }

    &:last-of-type {
      margin-right: $spacing;
    }
  }
}
