@import 'global';

.custom-form {
  form {
    @include flex(flex-start, $direction: row, $align: flex-start, $gap: $spacing-md);

    p { // helper text
      font-size: 13px;
      color: $gray;
      margin-top: $spacing-2xs;
      margin-bottom: 0;
      padding-left: $form-padding;
    }

    label {
      margin-bottom: $spacing-xs;
    }

    input, textarea {
      width: -webkit-fill-available;
      font-size: $font-size-sm;
      font-family: Arial;
      padding: $form-padding;

      &::placeholder {
        color: $gray;
      }

      &:focus {
        outline: none;
        border-color: $primary;
      }

      &:disabled {
        background-color: $gray-light;
      }
    }
  }

  .invalid {
    border-color: $error;
  }

  .required {
    color: $error !important;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .width-full {
    flex: 0 0 100%;
  }

  .width-half {
    flex: 0 0 calc(50% - (calc(#{$spacing-md} / 2)));

    @include betweenDevice {
      flex: 0 0 100%;
    }

    @include smallDevice($breakpoint-sm) {
      flex: 0 0 100%;
    }
  }
}
