@charset "UTF-8";
@import "@/styles/global";

body {
  margin: 0;
}

body, p, a, input, textarea, button {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
}

main {
  @if $navbar-position == 'fixed' {
    .sections {
      margin-top: $navbar-height;
    }
  }
}

.with-overlay {
  .sections {
    margin-top: 0;
  }
}

.sections {
  margin-top: $sections-padding-lg;
  margin-bottom: $sections-padding-lg;
  display: flex;
  flex-direction: column;
  //gap: $sections-padding-lg;

  > div:first-child {
    margin-top: 0;
  }
}

// -=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
// THEMA'S (Light & Dark Mode)
// -=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

[data-theme="light"] {
  background-color: $background-secondary;
  color: $text-primary;

  input, textarea {
    border: none;
    border-bottom: 1px solid $text-primary;
  }
}

[data-theme="dark"] {
  background-color: $background-primary;
  color: $text-secondary;

  main {
    background-color: $background-primary;
    color: $text-secondary;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $text-secondary;
  }

  p, span {
    color: rgba(241, 250, 238, 0.85);
  }

  a {
    color: $primary;

    &:hover {
      color: white;
      border-color: white;
    }
  }

  input, textarea {
    background-color: $background-primary;
    color: $text-secondary;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

// -=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
// TYPOGRAFIE & BASIS HTML
// -=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-base;
  line-height: 1.2;
  color: $secondary;
  margin: 0;
}

h2 {
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  color: $secondary;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $secondary;
  margin: 0;
}

h4 {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $secondary;
  margin: 0;
}

h5, h6 {
  margin: 0;
}

p {
  font-size: $font-size-sm;
  font-weight: $font-weight-base;
  line-height: 1.6;
  color: $text-primary;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top-width: 1px;
  border-color: $gray-dark;
  width: 100%;
}

a {
  color: $secondary;
  text-decoration: none;
  font-weight: $font-weight-medium;
  @include transition(300ms);

  &:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
